---
const { frontmatter } = Astro.props;
import BaseLayout from "./base-layout.astro";
const {author, title } = frontmatter
const pubDate = frontmatter.pubDate.slice(0, 10)
---
<BaseLayout>
  <h1>{title}</h1>
  <p>Published on: {pubDate}</p>
  <p>Written by {author}</p>
  <p><em>{frontmatter.description}</em></p>
  <!-- <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} /> -->
  <slot />
</BaseLayout>